@(formulario: Form[Facturaciondb])

@import helper._

@main("FACTURACION ELECTRONICA"){
<article>
    <div align="center">
    @if(flash.containsKey("success")){
    <h3 stykle="color:green">
        <img src="@routes.Assets.at("images/ok.png")"/>
        @flash.get("success")
    </h3>
    }</div>
      @form(routes.Application.create()){
        <fieldset id="fieldset">
            <legend  style="margin-left:80px"><h4>INTRODUCIR DATOS DE FACTURA:</h4></legend>
            <div align="center">
                @inputText(formulario("RFCex"),'_showConstraints -> false, '_label -> "RFC: ")
                @inputText(formulario("numFol"),'_showConstraints -> false, '_label -> "NUMERO DE FOLIO: ")
                @inputText(formulario("sell"),'_showConstraints -> false, '_label -> "SELLO: ")
                @inputText(formulario("lugar"),'_showConstraints -> false, '_label -> "LUGAR: ")
                @inputText(formulario("dueDate"),'_showConstraints -> false, '_label -> "FECHA: ")
                @inputText(formulario("RFCsexp"),'_showConstraints -> false, '_label -> "RFC: ")
                @inputText(formulario("desSer"),'_showConstraints -> false, '_label -> "DESCRIPCION: ")
                @inputText(formulario("valUni"),'_showConstraints -> false, '_label -> "VALOR UNITARIO: ")
                @inputText(formulario("impTot"),'_showConstraints -> false, '_label -> "IMPORTE TOTAL: ")
            </div>

            <div align="center">
                <a href="@routes.Application.create()"><input type="submit" value="Enviar datos"></a>
            </div>
        </fieldset>
      }

    <ul id="condiciones">
        <li style="list-style:none;"><h3>Condiciones...</h3></li>
        <li>Todos los campos son obligatorios.</li>
        <li>Solo para contribuyentes con un solo local</li>
    </ul>
</article>


}