@main("FACTURACION ELECTRONICA"){
<article>
    <form action="submit.asp" method="get">
        <fieldset id="fieldset">
            <legend  style="margin-left:80px"><h4>INTRODUCIR DATOS DE FACTURA:</h4></legend>
            <div align="center">
                RFC(De quien expida):                <input style="margin-left:81px" type="text" name="RFC"/></br>
                NUMERO DE FOLIO:                     <input style="margin-left:81px" type="text" name="FOLIO"></br>
                SELLO DIGITAL SAT:                   <input style="margin-left:73px" type="text" name="SELLO1"></br>
                LUGAR:                               <input style="margin-left:172px" type="text" name="SELLO1"></br>
                <div>
                    FECHA:                          <select style="margin-left:80px"> 
                                                        <option value="d0">dia</option> 
                                                        <option value="d1">1</option> 
                                                        <option value="d2">2</option> 
                                                        <option value="d3">3</option> 
                                                        <option value="d4">4</option> 
                                                        <option value="d5">5</option> 
                                                        <option value="d6">6</option> 
                                                        <option value="d7">7</option> 
                                                        <option value="d8">8</option> 
                                                        <option value="d9">9</option> 
                                                        <option value="d10">10</option> 
                                                        <option value="d11">11</option> 
                                                        <option value="d12">12</option> 
                                                        <option value="d13">13</option> 
                                                        <option value="d14">14</option> 
                                                        <option value="d15">15</option> 
                                                        <option value="d16">16</option> 
                                                        <option value="d17">17</option> 
                                                        <option value="d18">18</option> 
                                                        <option value="d19">19</option> 
                                                        <option value="d20">20</option> 
                                                        <option value="d21">21</option> 
                                                        <option value="d22">22</option> 
                                                        <option value="d23">23</option> 
                                                        <option value="d24">24</option> 
                                                        <option value="d25">25</option> 
                                                        <option value="d26">26</option> 
                                                        <option value="d27">27</option> 
                                                        <option value="d28">28</option> 
                                                        <option value="d29">29</option> 
                                                        <option value="d30">30</option> 
                                                        <option value="d31">31</option> 
                                                    </select> 
                                                    <select style="margin-left:10px"> 
                                                        <option value="m0">mes</option> 
                                                        <option value="m1">Enero</option> 
                                                        <option value="m2">Febrero</option> 
                                                        <option value="m3">Marzo</option> 
                                                        <option value="m4">Abril</option> 
                                                        <option value="m5">Mayo</option> 
                                                        <option value="m6">Junio</option> 
                                                        <option value="m7">Julio</option> 
                                                        <option value="m8">Agosto</option> 
                                                        <option value="m9">Septiembre</option> 
                                                        <option value="m10">Octubre</option> 
                                                        <option value="m11">Noviembre</option> 
                                                        <option value="m12">Diciembre</option> 
                                                    </select> 
                                                    <select style="margin-left:10px"> 
                                                        <option value="a0">año</option> 
                                                        <option value="a1">2015</option> 
                                                    </select> 


                </div>
                RFC(De quien se expida):                <input style="margin-left:61px" type="text" name="RFCp"/></br>
                DESCRIPCION DE SERVICIO:                <input style="margin-left:17px" type="text" name="DESC"/></br>
                VALOR UNITARIO:                         <input style="margin-left:89px" type="text" name="VALU"/></br>
                IMPORTE TOTAL:                          <input style="margin-left:98px" type="text" name="RFCp"/></br>
            </div>

            <div align="center">
                <input type="submit" value="Enviar datos">
            </div>
        </fieldset>
    </form>
    <ul id="condiciones">
        <li style="list-style:none;"><h3>Condiciones...</h3></li>
        <li>Todos los campos son obligatorios.</li>
        <li>Solo para contribuyentes con un solo local</li>
    </ul>
</article>
}