html, body{
  height:100%;
}

body{
  margin: 0;
  padding: 0;
  background-color: #456D7F;
  color: #756565;
  font-family: 'Inconsolata',sans-serif;
}

#wrapper{
  width: 1200px;
  background-color: white;
  margin: 50px auto;
  box-shadow:0 0 10px 5px rgb(0,0,0,0.2);
  border-radius:50px;
}

header{
  background-color:#319BCC;
  height: 165px;
  border-radius:50px;
}
#fieldset{
  margin:auto 100px;
  align:center;
}
footer{
  text-align:center;
  margin: 0px 50px;
  padding: 10px 0px;
  border-top: 3px solid gray;
}
#condiciones{
  font-size:13px;
  color:white;
  width:400px;
  background-color:#9AC8DD;
  border-radius: 5px;
  text-decoration:none;
  text-transform: uppercase;
  list-style:disc;
  margin: 20px 20px 20px 100px;
}