
footer{
  text-align:center;
  margin: 0px 50px;
  padding: 10px 0px;
  border-top: 3px solid gray;
}
#condiciones{
  font-size:13px;
  color:white;
  width:400px;
  background-color:#9AC8DD;
  border-radius: 5px;
  text-decoration:none;
  text-transform: uppercase;
  list-style:disc;
  margin: 20px 20px 20px 100px;
}